<section class="home" id="home">

    <div class="row">
  
        <div class="content">
            <h3>upto 75% off</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
            <a href="#" class="btn">shop now</a>
        </div>
        <swiper [config]="config" class="swiper books-slider">
            
            <div class="swiper-wrapper">
                <a routerLink="/product/{{discountedBook.id}}" class="swiper-slide" *ngFor="let discountedBook of discountedBooks"><img src="{{discountedBook.image_url}}" alt=""></a>
            </div>
            <img src="assets/image/stand.png" class="stand" alt="">
        </swiper>
    </div>
  
  </section>
  