<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>new arrivals</span> </h1>

    <swiper [config]="config" class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a class="swiper-slide box" *ngFor="let arrivalBook of arrivalBooks1">
                <div class="image" routerLink="/product/{{arrivalBook.id}}">
                    <img src="{{arrivalBook.image_url}}" alt="">
                </div>
                <div class="content" routerLink="/product/{{arrivalBook.id}}">
                    <h3>{{arrivalBook.title}}</h3>
                    <div class="price">
                        ${{(arrivalBook.price-(arrivalBook.discount*arrivalBook.price/100)).toFixed(2)}}
                        %{{arrivalBook.discount}}
                        <span>${{arrivalBook.price}}</span>
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>
        </div>
    </swiper>

    <swiper [config]="config" class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a class="swiper-slide box" *ngFor="let arrivalBook of arrivalBooks2">
                <div class="image" routerLink="/product/{{arrivalBook.id}}">
                    <img src="{{arrivalBook.image_url}}" alt="">
                </div>
                <div class="content" routerLink="/product/{{arrivalBook.id}}">
                    <h3>{{arrivalBook.title}}</h3>
                    <div class="price">
                        ${{(arrivalBook.price-(arrivalBook.discount*arrivalBook.price/100)).toFixed(2)}}
                        %{{arrivalBook.discount}}
                        <span>${{arrivalBook.price}}</span>
                    </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>
        </div>
    </swiper>
</section>