
ngb-pagination ::ng-deep {
    padding-top: 3rem;  
    display: flex !important;
    justify-content: center !important;

}

ngb-pagination ::ng-deep ul li {
    float: left;
    list-style-type: none;
}

ngb-pagination ::ng-deep ul li a {
    padding: 8px 16px;
    border-style: solid;
    border-width: 1.5px;
    border-color: green;
    font-size: 150%;
}

ngb-pagination ::ng-deep ul>li.active>a {
    background-color: #219150 !important;
    color:white;
}
