<div class="card-body store-body">
    <div class="product-info">
        <div class="product-gallery">
            <div class="product-gallery-featured">
                <img src="{{bookDetails.image_url}}" alt="">
            </div>
        </div>
    </div>
    <div class="product-details">
        <h4 class="product-title mb-2">{{bookDetails.title}}</h4>
        <h2 class="mb-5">By: {{bookDetails.publisher_name}}</h2>
        <h2 class="mb-5">Category: {{bookDetails.category}}</h2>
        <br />
 
        <h2 class="mb-5">Book Information</h2>
        <p class="mb-5">Book isbn13 : {{bookDetails.isbn13}}</p>
         <p class="mb-5">Book language : {{bookDetails.language_name}}</p> 
        <p class="mb-5">publication date : {{bookDetails.publication_date| date : 'yyyy-MM-dd'}}</p>
        <p class="mb-5">Book num of pages : {{bookDetails.num_pages}}</p>
        <br>
        <h2 class="mb-5">Description</h2>
        <p>{{bookDetails.description}}</p>
        <br />
        <h2 class="mb-5">Price</h2>
        <div class="price">${{(bookDetails.price-(bookDetails.discount*bookDetails.price/100)).toFixed(2)}}
            %{{bookDetails.discount}}
            <span>${{bookDetails.price}}</span>
        </div>
        <br /><label for="quant">Quantity : </label>

        <input type="number" name="quantity" min="1" id="quant" class="form-control mb-5 input-lg"
            placeholder="1" />
        <br />
        <br />
        <div (click)="addtoCart(bookDetails)" class="btn btn-primary btn-lg btn-block">Buy Now</div>
    </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>