.store-body {
    background-color: #f5f5f5;
    padding-top: 25px;
    font-family: 'Open sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    
}

.store-body .product-details {
    width: 60%;
    padding:5rem;
}
.store-body .product-details h2 {
    font-size: 2rem;
    color:var(--black);
}
.store-body .product-details h3 {
    font-size: 2.5rem;
    color: var(--black);

}.store-body .product-details h3 span {
    font-size: 2.5rem;
    color: var(--black);
    text-decoration: line-through;
}
.store-body .product-details h4 {
    font-size: 3rem;
    color: var(--black);
}
.store-body .product-details h5 {
    font-size: 1.5rem;
    color: var(--black);
}
.store-body .product-details p {
    font-size: 1.5rem;
    color: var(--black);
}
.store-body .product-info {
    width: 40%;
}
.store-body .product-info .product-gallery {
    display: flex;
    flex-direction: row;
}

.store-body .product-info .product-gallery  .product-gallery-featured {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
}

label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}