
<!-- home section starts  -->
<app-home-books></app-home-books>
<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

  <div class="icons">
      <i class="fas fa-shipping-fast"></i>
      <div class="content">
          <h3>free shipping</h3>
          <p>order over $100</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-lock"></i>
      <div class="content">
          <h3>secure payment</h3>
          <p>100 secure payment</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-redo-alt"></i>
      <div class="content">
          <h3>easy returns</h3>
          <p>10 days returns</p>
      </div>
  </div>

  <div class="icons">
      <i class="fas fa-headset"></i>
      <div class="content">
          <h3>24/7 support</h3>
          <p>call us anytime</p>
      </div>
  </div>

</section>

<!-- icons section ends -->

<!-- featured section starts  -->

 <app-featured-books></app-featured-books>

<!-- featured section ends -->

<!-- newsletter section starts -->

<section class="newsletter">

  <form action="">
      <h3>subscribe for latest updates</h3>
      <input type="email" name="" placeholder="enter your email" id="" class="box">
      <input type="submit" value="subscribe" class="btn">
  </form>

</section>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<app-arrivals-books></app-arrivals-books>

<!-- arrivals section ends -->

<!-- deal section starts  -->

<section class="deal">

  <div class="content">
      <h3>deal of the day</h3>
      <h1>upto 50% off</h1>
      <p>الألم نفسه هو حب الرئيسي ، الدهني من أين قد تواجه أوقات الألم وتبحث عنها ، لكن هروب الآلام ولد.</p>
      <a href="#" class="btn">shop now</a>
  </div>

  <div class="image">
      <img src="assets/image/deal-img.jpg" alt="">
  </div>

</section>

<!-- deal section ends -->

<!-- reviews section starts  -->

<app-reviews-home></app-reviews-home>

<!-- reviews section ends -->

<!-- blogs section starts  -->

<app-bolgs-home></app-bolgs-home>

<!-- blogs section ends -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>