nav ul li ul li {
   display: list-item;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li ul {
   display: inline-block;
   margin: 0;
   padding: 0;
}


.total {
   background: #219150;
   line-height: 30px;
   color: white;
   border-radius: 30px;
   border: 1px solid #000;
   float: left;
   padding-left: 17px
}
.total:hover{
   color: white !important;
}
.total span {
   display: inline-block;
   background: #fff;
   padding: 0 13px;
   color: #000;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}

