<div class="login-form-container">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="subform1">
            <div formGroupName="customer" class="subform2">
                <h3>User Details</h3>
                <span>First Name</span>
                <input type="text" name="" class="box" placeholder="enter your firstName" id=""
                    formControlName="firstName">
                <span>Last Name</span>
                <input type="text" name="" class="box" placeholder="enter your lastName" id=""
                    formControlName="lastName">
                <span>Email</span>
                <input type="email" name="" class="box" placeholder="enter your email" id="" formControlName="email">
                <span>Mobile</span>
                <input type="text" name="" class="box" placeholder="enter your mobile number" id="" formControlName="mobile">
                <div class="subform3">
                    <span>Total Quantity : {{totalQuantity}}</span>
                    <span>Shipping : 5$</span>
                    <span>Total Price : {{(totalPrice+5).toFixed(2)}}</span>
                </div>
            </div>
            <div formGroupName="shippingAddress" class="subform2">
                <h3>Shipping Address</h3>
                <span>Country</span>
                <select formControlName="country" class="box" (change)="handleStates('shippingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                </select>
                <span>State</span>
                <select formControlName="state" class="box" (change)="handleCities('shippingAddress')">
                    <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
                </select>
                <span>City</span>
                <select formControlName="city" class="box">
                    <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
                </select>
                <span>Street</span>
                <input type="text" name="" class="box" placeholder="enter your street address" id="" formControlName="street">
                <span>Zip Code</span>
                <input type="text" name="" class="box" placeholder="enter your zip code" id="" formControlName="zipCode">
                <div class="checkbox" >
                    <input (change)="copyShippingAddressToBillingAddress($event)" type="checkbox" name="" id="remember-me">
                    <label for="remember-me"> Shipping Address same as Billing Address</label>
                </div>
            </div>
            <div formGroupName="billingAddress" class="subform2">
                <h3>Billing Address</h3>
                <span>Country</span>
                <select formControlName="country" class="box" (change)="handleStates('billingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                </select>
                <span>State</span>
                <select formControlName="state" class="box" (change)="handleCities('billingAddress')">
                    <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
                </select>
                <span>City</span>
                <select formControlName="city" class="box">
                    <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
                </select>
                <span>Street</span>
                <input type="text" name="" class="box" placeholder="enter your street address" id="" formControlName="street">
                <span>Zip Code</span>
                <input type="text" name="" class="box" placeholder="enter your zip code" id="" formControlName="zipCode">
            </div>
            <div formGroupName="creditCard" class="subform2">
                <h3>Credit Card</h3>
                <span>cardType</span>
                <select formControlName="cardType" class="box">
                    <option value="visa">Visa</option>
                    <option value="master">Master Card</option>
                </select>
                <span>fullName</span>
                <input type="text" name="" class="box" placeholder="enter your lastName" id=""
                    formControlName="fullName">
                <span>cardNumber</span>
                <input type="text" name="" class="box" placeholder="enter your email" id=""
                    formControlName="cardNumber">
                <span>expYear</span>
                <select formControlName="expYear" class="box" (change)="handleMonthsBasedOnYear()">
                    <option *ngFor="let year of years">{{year}}</option>
                </select>
                <span>expMonth</span>
                <select formControlName="expMonth" class="box">
                    <option *ngFor="let month of months">{{month}}</option>
                </select>
                <span>sercurityCode</span>
                <input type="text" name="" class="box" placeholder="enter your email" id=""
                    formControlName="sercurityCode">

            </div>


        </div>
        <input type="submit" value="Purchase" class="btn">
    </form>
</div>